// Navigation
.nav {
    &__list {
        display: flex;
    }

    &__list-item:not(:last-child) {
        margin-right: 48px;
    }

    &__list-link {
        color: $white;
        font-family: $Ubuntu;
        font-weight: 500;
        font-size: 17px;
        text-transform: capitalize;
        text-decoration: none;
    }
}

// Promo
.promo {
    display: flex;

    &__image {
        width: 50%;
    }

    &__cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 60px;
    }

    &__heading {
        font-family: $Ubuntu;
        font-weight: bold;
        font-size: 60px;
        line-height: 1.3;
    }
    
    &__text {
        margin-top: 48px;
        color: $greyish;
        font-family: $Lato;
        font-weight: 300;
        font-size: 30px;
        line-height: 1.2;
    }

    &__link {
        width: 333px;
        margin-top: 60px;
        padding: 26px;
        border-radius: 50px;
        background: $theme-color0;
        color: $white;
        font-family: $Ubuntu;
        font-size: 23px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    &:last-child &__cta {
        padding-left: 120px;
    }
}

// Order steps
.order {
    margin-top: 90px;
    display: flex;

    img {
        width: 100px;
        margin: auto;
    }

    &__step {
        width: 33.33%;
        padding: 0 6px;
    }

    &__title {
        margin-top: 50px;
        color: $white;
        font-family: $Ubuntu;
        font-size: 45px;
        text-transform: capitalize;
    }

    &__desc {
        margin-top: 35px;
        color: $white;
        font-family: $Lato;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.3;
    }
}