/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__list-item:not(:last-child) {
  margin-right: 48px;
}
.nav__list-link {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: none;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.promo__image {
  width: 50%;
}
@media (max-width: 768px) {
  .promo__image {
    width: 100%;
  }
}
.promo__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 60px;
}
@media (max-width: 1082px) {
  .promo__cta {
    padding: 40px;
  }
}
@media (max-width: 916px) {
  .promo__cta {
    padding: 35px;
  }
}
@media (max-width: 768px) {
  .promo__cta {
    width: 100%;
    padding: 13.021vw 15.625vw !important;
  }
}
.promo__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.3;
}
@media (max-width: 1175px) {
  .promo__heading {
    font-size: 4.681vw;
  }
}
@media (max-width: 768px) {
  .promo__heading {
    font-size: 30px;
  }
}
.promo__text {
  margin-top: 48px;
  color: #333;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.2;
}
@media (max-width: 1175px) {
  .promo__text {
    margin-top: 35px;
    font-size: 2.383vw;
  }
}
@media (max-width: 768px) {
  .promo__text {
    font-size: 16px;
    margin-top: 20px;
  }
}
.promo__link {
  width: 333px;
  margin-top: 60px;
  padding: 26px;
  border-radius: 50px;
  background: #7287ae;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 1175px) {
  .promo__link {
    width: 27.234vw;
    margin-top: 40px;
    padding: 20px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .promo__link {
    width: 200px;
    margin-top: 30px;
    padding: 14px;
    font-size: 14px;
  }
}
.promo:last-child .promo__cta {
  padding-left: 120px;
}
@media (max-width: 1175px) {
  .promo:last-child .promo__cta {
    padding-left: 70px;
  }
}
@media (max-width: 916px) {
  .promo:last-child .promo__cta {
    padding-left: 40px;
  }
}
@media (max-width: 1300px) {
  .promo-second br {
    display: none;
  }
}
@media (max-width: 768px) {
  .promo-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.order {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}
.order img {
  width: 100px;
  margin: auto;
}
@media (max-width: 768px) {
  .order img {
    width: 70px;
  }
}
.order__step {
  width: 33.33%;
  padding: 0 6px;
}
@media (max-width: 768px) {
  .order__step {
    width: 80%;
    margin: auto;
  }
  .order__step:not(:last-child) {
    margin-bottom: 80px;
  }
}
.order__title {
  margin-top: 50px;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  text-transform: capitalize;
}
@media (max-width: 1085px) {
  .order__title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .order__title {
    margin-top: 30px;
    font-size: 25px;
  }
}
.order__desc {
  margin-top: 35px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .order__desc {
    margin-top: 30px;
    font-size: 16px;
  }
}

.header {
  background: #7287ae;
  padding: 68px 0 58px;
}
@media (max-width: 768px) {
  .header {
    padding: 30px 0 40px;
  }
}
.header__top {
  max-width: 1200px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
@media (max-width: 768px) {
  .header__logo {
    width: 150px;
  }
}
.header__key-visual {
  margin-top: 130px;
  text-align: center;
}
@media (max-width: 768px) {
  .header__key-visual {
    margin-top: 50px;
  }
}
@media (max-width: 320px) {
  .header__key-visual {
    padding: 0 20px;
  }
}
.header__big-text {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: capitalize;
}
@media (max-width: 1018px) {
  .header__big-text {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .header__big-text {
    font-size: 50px;
  }
}
@media (max-width: 320px) {
  .header__big-text {
    font-size: 40px;
  }
}
.header__text {
  margin-top: 55px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 1.2;
}
@media (max-width: 1018px) {
  .header__text {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .header__text {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 300;
  }
}

.footer {
  padding: 100px 120px 120px;
  background: #7287ae;
  text-align: center;
}
.footer__header {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}
@media (max-width: 1080px) {
  .footer__header {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .footer__header {
    font-size: 30px;
  }
}
@media (max-width: 1175px) {
  .footer {
    padding: 80px 100px 100px;
  }
}
@media (max-width: 1080px) {
  .footer {
    padding: 50px 70px 70px;
  }
}
@media (max-width: 916px) {
  .footer {
    padding: 30px 50px 50px;
  }
}
@media (max-width: 916px) {
  .footer {
    padding: 50px 0 60px;
  }
}