.footer {
    padding: 100px 120px 120px;
    background: $theme-color0;
    text-align: center;

    &__header {
        color: $white;
        font-family: $Ubuntu;
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
    }
}