.header {
    background: $theme-color0;
    padding: 68px 0 58px;

    &__top {
        max-width: 1200px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    &__key-visual {
        margin-top: 130px;
        text-align: center;
    }

    &__big-text {
        color: $white;
        font-family: $Ubuntu;
        font-weight: 700;
        font-size: 100px;
        text-transform: capitalize;
    }

    &__text {
        margin-top: 55px;
        color: $white;
        font-family: $Lato;
        font-size: 30px;
        line-height: 1.2;
    }
}